/* describes styles for index.html */
.texts {
    text-align: center;
    text-shadow: 2ch 2ch gray;
}
.titles {
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: oblique;
}
.smalltitles{
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
.navigation{
    text-align: right;
    word-spacing: normal;
    padding: 10px;
    border: 2px groove black;
    text-transform: uppercase;
    background-color: aliceblue;
}
.navbars{
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
}

/* Describes styles for the form.html */
.field {
    word-spacing: normal;
    line-height: 2;
    font-weight: 600;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding: 10px;
    color: teal;
    background-color: whitesmoke;
}
.pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    padding: 5px ;
    box-sizing: border-box;
    width: 300px;
    background-color: silver;

}
.heading {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline solid silver;
    color: rgb(21, 231, 238);
    background-color: whitesmoke;
}
.push{
    color: red;
    background-color: black;
    padding: 10px;
}
input{
    font-weight: lighter;
    text-align: justify;
    background-color: mintcream;
}
/* END(form.html styles) */

/* Link styles */

/* Home.html styles */
.home {
    text-align: center;
}

/* contact.html */
.pic {
    display: block;
    float: right;
}