.back {
    /* describes styles for the background */
    background-image: url(https://th.bing.com/th/id/OIP.Z_PIeIRDajXPmZHROt-T_QHaEK?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: ;
}